{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    ["transform-runtime", {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ]
  ]
}
